<div class="container p-3">
  <h3>Date format--> miladi to shamsi</h3>

  <div class="row mt-3">
    <div *ngFor="let item of orders" class="d-flex">
      <div>{{ item.createDate }}</div>--->
      <div> {{item.createDate | miladitoShamsi : "withTime"}}</div>--->
      <div>{{item.createDate | miladitoShamsi }}</div>
      <br>
    </div>
  </div>
</div>


<div class="container p-3">
  <h3>Date format--> shamsi to miladi</h3>
  <div class="row mt-3">
    <div *ngFor="let item of dates" class="d-flex">
      <div>{{ item.createDate }}</div>---> <div>{{item.createDate | shamsiToMiladi }}</div>
     
      <br>
    </div>
  </div>
 
</div>
